<div class="sidebar">
  <nav class="main-menu">
    <ul>
      <li class="m-2 appear-logo">
        <%= link_to "#" do %>
          <% image_tag("usicz-logo.png", width:'30') %>
        <% end %>
      </li>
      <li class="appear-text">
        <%= link_to "#" do %>
          <span class="logobar-text">
              i!iusicz
          </span>
        <% end %>
      </li>
      <li class="m-2">
        <%= link_to "#" do %>
          <%= image_tag("playlist-icon.png", width:'30') %>
          <span class="nav-text">
              Add Playlist
          </span>
        <% end %>
      </li>
    </ul>
    <ul class="bottom-buttons">
      <li class="m-2">
        <%= link_to "#" do %>
          <%= image_tag("twitter-icon.png", width:'30') %>
          <span class="nav-text">
              Twitter
          </span>
        <% end %>
      </li>
      <li class="m-2">
        <%= link_to "#" do %>
          <%= image_tag("instagram-icon.png", width:'30') %>
          <span class="nav-text">
              Instagram
          </span>
        <% end %>
      </li>
      <li class="m-2">
        <%= link_to "#" do %>
          <%= image_tag("fb-icon.png", width:'30') %>
          <span class="nav-text">
              Facebook
          </span>
        <% end %>
      </li>
      <li class="m-2">
          <%= image_tag("blank.png", width:'30') %>
      </li>
      <li class="m-2">
        <%= link_to "#" do %>
          <%= image_tag("signout-icon.png", width:'30') %>
          <span class="nav-text">
              Sign Out
          </span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
