<div>
  <nav class="main-menu">
    <ul class="logo-ul">
      <li class="m-2 appear-logo" id="usicz-logo">
        <%= link_to "#" do %>
          <% image_tag("usicz-logodw.png", width:'48') %>
        <% end %>
      </li>
      <li class="appear-text">
        <%= link_to root_path do %>
          <span class="logobar-text">
            i!iusicz
          </span>
        <% end %>
      </li>
    </ul>
    <ul>
      <li class="m-2 icon-ms">
        <%= link_to songs_path do %>
          <%= image_tag("song-icondw2-thin.png", width:'30', class: 'ms-gray') %>
          <%= image_tag("song-iconp2-thin.png", width:'30', class: 'ms-purple') %>
          <span class="nav-text text-ms">
            My songs
          </span>
        <% end %>
      </li>
      <li class="m-2 icon-pl">
        <%= link_to new_playlist_import_path do %>
          <%= image_tag("playlist-add-icondw-thin.png", width:'30', class: 'pl-gray') %>
          <%= image_tag("playlist-add-iconp-thin.png", width:'30', class: 'pl-purple') %>
          <span class="nav-text text-pl">
            Add songs
          </span>
        <% end %>
      </li>
    </ul>
    <ul class="bottom-buttons">
      <li class="m-2 icon-tw">
        <%= link_to "#" do %>
          <%= image_tag("twitter-icondw.png", width:'30', class: 'tw-gray') %>
          <%= image_tag("twitter-iconp.png", width:'30', class: 'tw-purple') %>
          <span class="nav-text-sm text-tw">
            Twitter
          </span>
        <% end %>
      </li>
      <li class="m-2 icon-ig">
        <%= link_to "#" do %>
          <%= image_tag("instagram-icondw.png", width:'30', class: 'ig-gray') %>
          <%= image_tag("instagram-iconp.png", width:'30', class: 'ig-purple') %>
          <span class="nav-text-sm text-ig">
            Instagram
          </span>
        <% end %>
      </li>
      <li class="m-2 icon-fb">
        <%= link_to "#" do %>
          <%= image_tag("fb-icondw.png", width:'30', class: 'fb-gray') %>
          <%= image_tag("fb-iconp.png", width:'30', class: 'fb-purple') %>
          <span class="nav-text-sm text-fb">
            Facebook
          </span>
        <% end %>
      </li>
      <li class="m-2">
          <%= image_tag("blank.png", width:'30') %>
      </li>
      <li class="m-2 icon-so">
        <%# link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag("signout-icondw-thin.png", width:'30', class: 'so-gray') %>
          <%= image_tag("signout-iconp-thin.png", width:'30', class: 'so-purple') %>
          <span class="nav-text text-so">
            <% if current_user %>
              Sign out
            <% else %>
              Sign In
            <% end %>
          </span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
