<%= render 'shared/sidebar' %>

<div class="songs-table">
  <h1 class="p-bold">My songs</h1>

  <table class="table table-borderless table-hover">
    <thead class="">
      <!-- color: #F0EEEE -->
      <!-- hover: #C7C1C1 -->
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <!-- <th>album</th> -->
        <th>Genre</th>
        <th>Source</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <% if !song.id.nil? %>
          <tr id="v-center" class="track-list-row <%= song.platform.name.parameterize %>" data-id=<%= song.external_id %> data-platform='<%= song.platform.name.parameterize %>' data-link='<%= song.id %>'>
            <!-- needs to appear only when active (playing) -->

            <td class="song-row-small active-song playable" id="play-icon"><%= image_tag('play-iconn.png', width: '20') %></td>

            <td class="song-row-long playable">
              <% if song.title.nil? %>
                <%= "Unknown Title" %>
              <% else %>
                <%= song.title.truncate(40) %>
              <% end %>
            </td>

            <td class="song-row-long playable">
              <% if song.artist.nil? %>
                <%= "Unknown Artist" %>
              <% else %>
                <%= song.artist.truncate(40) %>
              <% end %>
            </td>

            <td class="song-row-long playable">
              <% if song.genre == "" || song.genre == nil %>
                <%= "Unknown Genre" %>
              <% else %>
                <%= song.genre %>
              <% end %>
            </td>

            <td class="song-row-small playable">
              <% if song.platform_id == Platform.first.id %>
                <i class="fab fa-youtube fa-2x"></i>
              <% elsif song.platform_id == Platform.second.id %>
                <%= image_tag('deezer-logo.png', width: '32')  %>
              <% else %>
                <i class="fas fa-music" id="MusicIcon" data-link="<%= new_playlist_import_url %>"></i>
              <% end %>
            </td>

            <td class="song-row-small" id="trash-icon" onclick="removeSong();">
              <% if !song.id.nil? %>
                <%= image_tag('trash-icon.png', width: '24', class: 'trashIcon', data: {link: song.id}) %>
              <% end %>
            </td>

          </tr>
        <% else %>
          <tr>
            <td></td>
            <td>Empty Playlist</td>
            <td>-</td>
            <td>-</td>
            <td><i class="fas fa-music" id="MusicIcon" data-link="<%= new_playlist_import_url %>"></i></td>
          </tr>
        <% end %>
      <% end %>

<!--       <div class='edit_hover_class'>
        <a href='#'><%# image_tag('trash-icon.png', width: '40')  %></a>
      </div>
 -->
<!--       You could include an anchor inside every <td>, like so:
      <tr>
        <td><a href="#">Blah Blah</a></td>
        <td><a href="#">1234567</a></td>
        <td><a href="#">more text</a></td>
      </tr>

      You could then use display:block; on the anchors to make the full row clickable.
      tr:hover {
         background: red;
      }
      td a {
         display: block;
         border: 1px solid black;
         padding: 16px;
      } -->

    </tbody>
  </table>




<!-- TESTS ON PLAYERS - STARTS HERE -->

    <!-- <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY"></div> -->

    <!-- TESTS - CODEPEN PLAYERS - JAVASCRIPT -->
    <%# render 'shared/player_two' %>
    <!-- <div class="datenovo"></div> -->

    <!-- HTML NATURAL PLAYER -->
    <!-- <audio controls>
      <source src="https://www.youtube.com/watch?v=9F49XgzlZgA" type="audio/oog">
    </audio>
     -->

    <!-- SOUNDCLOUD EMBED PLAYER
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/21478921&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
     -->
    <%# render 'shared/progress_bar_one' %>
    <%# render 'shared/player_two' %>
    <!-- TESTS ON PLAYERS - ENDS HERE -->

  <!-- FOOTBAR PLAYERS -->
  <%= render 'shared/footbar' %>
</div>
