<%= render 'shared/sidebar' %>

<% if params[:imported].present? %>
  <div id="display-import-message" ></div>
<% end %>


<div class="songs-table">
  <h1 class="p-bold my-songs">My songs</h1>

  <table class="table table-borderless table-hover">
    <thead class="">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <!-- <th>album</th> -->
        <th>Genre</th>
        <th>Source</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <% if !song.id.nil? %>
          <tr id="v-center" class="track-list-row <%= song.platform.name.parameterize %>" data-id=<%= song.external_id %> data-platform='<%= song.platform.name.parameterize %>' data-link='<%= song.id %>' data-artist='<%= song.artist %>' data-title='<%= song.title %>'>

            <td class="song-row-small active-song playable" id="play-icon"><%= image_tag('play-iconn.png', width: '20') %></td>

            <td class="song-row-long playable">
              <% if song.title.nil? %>
                <%= "Unknown Title" %>
              <% else %>
                <%= song.title.truncate(50) %>
              <% end %>
            </td>

            <td class="song-row-medium playable">
              <% if song.artist.nil? %>
                <%= "Unknown Artist" %>
              <% else %>
                <%= song.artist.truncate(50) %>
              <% end %>
            </td>

            <td class="song-row-medium playable">
              <% if song.genre == "" || song.genre == nil %>
                <%= "Unknown Genre" %>
              <% else %>
                <%= song.genre %>
              <% end %>
            </td>

            <td class="song-row-small playable">
              <% if song.platform_id == Platform.first.id %>
                <i class="fab fa-youtube fa-2x"></i>
              <% elsif song.platform_id == Platform.second.id %>
                <%= image_tag('deezer-logo.png', width: '32')  %>
              <% else %>
                <i class="fas fa-music" id="MusicIcon" data-link="<%= new_playlist_import_url %>"></i>
              <% end %>
            </td>

            <td class="song-row-small" id="trash-icon">
              <% if !song.id.nil? %>
                <%= image_tag('trashlp-icon.png', width: '24', class: 'trashIcon', data: {link: song.id}) %>
              <% end %>
            </td>

          </tr>
        <% else %>
          <tr>
            <td></td>
            <td>Empty Playlist</td>
            <td>-</td>
            <td>-</td>
            <td><i class="fas fa-music" id="MusicIcon" data-link="<%= new_playlist_import_url %>"></i></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>

  <!-- FOOTBAR PLAYERS -->
  <%= render 'shared/footbar' %>
</div>
