<div class="hero-section">
  <p class="sign:hover d-flex justify-content-end mx-4 pt-3 hero-top-action">
    <% if current_user %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nostyle"%>
    <% else %>
      <%= link_to "sign in", new_user_session_path, method: :get, class: "nostyle"%>
    <% end %>
  </p>

  <div class="hero-title d-flex flex-column">
    <div class="opening-logo">
      <%= link_to songs_path, class: "logo-button-style" do %>
        <div class="video-box">
          <video autoplay playsinline muted loop preload poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg">
            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ocean-small.webm" />
            <source src="http://thenewcode.com/assets/videos/ocean-small.mp4" />
          </video>
          <svg width="204" height="141" viewBox="0 0 204 141" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <mask id="mask" x="0" y="0" width="100%" height="100%" >
                <rect x="-20" y="0" width="244" height="141" />
                <g>
                  <path d="M13 125H3.9375V91.1875H13V125ZM3.40625 82.4375C3.40625 81.0833 3.85417 79.9688 4.75 79.0938C5.66667 78.2188 6.90625 77.7812 8.46875 77.7812C10.0104 77.7812 11.2396 78.2188 12.1562 79.0938C13.0729 79.9688 13.5312 81.0833 13.5312 82.4375C13.5312 83.8125 13.0625 84.9375 12.125 85.8125C11.2083 86.6875 9.98958 87.125 8.46875 87.125C6.94792 87.125 5.71875 86.6875 4.78125 85.8125C3.86458 84.9375 3.40625 83.8125 3.40625 82.4375ZM29.6562 111.031H22.1562L21.0938 79.5H30.7188L29.6562 111.031ZM25.9062 115.969C27.4271 115.969 28.6458 116.417 29.5625 117.312C30.5 118.208 30.9688 119.354 30.9688 120.75C30.9688 122.125 30.5 123.26 29.5625 124.156C28.6458 125.052 27.4271 125.5 25.9062 125.5C24.4062 125.5 23.1875 125.052 22.25 124.156C21.3333 123.26 20.875 122.125 20.875 120.75C20.875 119.375 21.3333 118.24 22.25 117.344C23.1875 116.427 24.4062 115.969 25.9062 115.969ZM47.4375 125H38.375V91.1875H47.4375V125ZM37.8438 82.4375C37.8438 81.0833 38.2917 79.9688 39.1875 79.0938C40.1042 78.2188 41.3438 77.7812 42.9062 77.7812C44.4479 77.7812 45.6771 78.2188 46.5938 79.0938C47.5104 79.9688 47.9688 81.0833 47.9688 82.4375C47.9688 83.8125 47.5 84.9375 46.5625 85.8125C45.6458 86.6875 44.4271 87.125 42.9062 87.125C41.3854 87.125 40.1562 86.6875 39.2188 85.8125C38.3021 84.9375 37.8438 83.8125 37.8438 82.4375ZM75.1562 121.562C72.9271 124.271 69.8438 125.625 65.9062 125.625C62.2812 125.625 59.5104 124.583 57.5938 122.5C55.6979 120.417 54.7292 117.365 54.6875 113.344V91.1875H63.7188V113.031C63.7188 116.552 65.3229 118.312 68.5312 118.312C71.5938 118.312 73.6979 117.25 74.8438 115.125V91.1875H83.9062V125H75.4062L75.1562 121.562ZM109.031 115.656C109.031 114.552 108.479 113.688 107.375 113.062C106.292 112.417 104.542 111.844 102.125 111.344C94.0833 109.656 90.0625 106.24 90.0625 101.094C90.0625 98.0938 91.3021 95.5938 93.7812 93.5938C96.2812 91.5729 99.5417 90.5625 103.562 90.5625C107.854 90.5625 111.281 91.5729 113.844 93.5938C116.427 95.6146 117.719 98.2396 117.719 101.469H108.688C108.688 100.177 108.271 99.1146 107.438 98.2812C106.604 97.4271 105.302 97 103.531 97C102.01 97 100.833 97.3438 100 98.0312C99.1667 98.7188 98.75 99.5938 98.75 100.656C98.75 101.656 99.2188 102.469 100.156 103.094C101.115 103.698 102.719 104.229 104.969 104.688C107.219 105.125 109.115 105.625 110.656 106.188C115.427 107.938 117.812 110.969 117.812 115.281C117.812 118.365 116.49 120.865 113.844 122.781C111.198 124.677 107.781 125.625 103.594 125.625C100.76 125.625 98.2396 125.125 96.0312 124.125C93.8438 123.104 92.125 121.719 90.875 119.969C89.625 118.198 89 116.292 89 114.25H97.5625C97.6458 115.854 98.2396 117.083 99.3438 117.938C100.448 118.792 101.927 119.219 103.781 119.219C105.51 119.219 106.812 118.896 107.688 118.25C108.583 117.583 109.031 116.719 109.031 115.656ZM133.188 125H124.125V91.1875H133.188V125ZM123.594 82.4375C123.594 81.0833 124.042 79.9688 124.938 79.0938C125.854 78.2188 127.094 77.7812 128.656 77.7812C130.198 77.7812 131.427 78.2188 132.344 79.0938C133.26 79.9688 133.719 81.0833 133.719 82.4375C133.719 83.8125 133.25 84.9375 132.312 85.8125C131.396 86.6875 130.177 87.125 128.656 87.125C127.135 87.125 125.906 86.6875 124.969 85.8125C124.052 84.9375 123.594 83.8125 123.594 82.4375ZM154.719 118.344C156.385 118.344 157.74 117.885 158.781 116.969C159.823 116.052 160.365 114.833 160.406 113.312H168.875C168.854 115.604 168.229 117.708 167 119.625C165.771 121.521 164.083 123 161.938 124.062C159.812 125.104 157.458 125.625 154.875 125.625C150.042 125.625 146.229 124.094 143.438 121.031C140.646 117.948 139.25 113.698 139.25 108.281V107.688C139.25 102.479 140.635 98.3229 143.406 95.2188C146.177 92.1146 149.979 90.5625 154.812 90.5625C159.042 90.5625 162.427 91.7708 164.969 94.1875C167.531 96.5833 168.833 99.7812 168.875 103.781H160.406C160.365 102.031 159.823 100.615 158.781 99.5312C157.74 98.4271 156.365 97.875 154.656 97.875C152.552 97.875 150.958 98.6458 149.875 100.188C148.812 101.708 148.281 104.188 148.281 107.625V108.562C148.281 112.042 148.812 114.542 149.875 116.062C150.938 117.583 152.552 118.344 154.719 118.344ZM184.406 117.719H200.938V125H172.875V119.5L188.781 98.5H173.344V91.1875H200.438V96.5312L184.406 117.719Z" fill="black"/>
                  <path d="M82.9838 3.01449L82.9838 6.44928C87.5345 7.75362 90.8244 11.9275 90.8244 17.029C90.8244 22.1304 87.5345 26.4203 82.9838 27.6667L82.9838 67.8406C82.9838 69.4928 81.6215 71 79.9693 71C78.3172 71 76.9548 69.6377 76.9548 67.9855L76.9548 27.6232C72.4041 26.3188 69.1143 22.1449 69.1143 17.0435C69.1143 12.058 72.4041 7.7971 76.9548 6.46377L76.9548 3.01449C76.9548 1.36232 78.3172 4.02272e-07 79.9693 4.7449e-07C81.6215 5.46709e-07 82.9838 1.36232 82.9838 3.01449ZM74.9983 17.0435C74.9983 19.913 77.2592 22.3188 79.9693 22.1739C82.6795 22.1739 84.9403 19.913 84.9403 17.0435C84.9403 14.1739 82.6795 11.913 79.9693 11.913C77.2592 11.913 74.9983 14.1739 74.9983 17.0435Z" fill="black"/>
                  <path d="M107.564 3.01449L107.564 43.2464C112.114 44.5507 115.404 48.7247 115.404 53.8261C115.404 58.8116 112.114 63.0725 107.564 64.4058L107.564 67.8551C107.564 69.5073 106.201 70.8696 104.549 70.8696C102.897 70.8696 101.535 69.5073 101.535 67.8551L101.535 64.4203C96.9839 63.116 93.6941 58.942 93.6941 53.8406C93.6941 48.8551 96.9839 44.5942 101.535 43.2609L101.535 3.01449C101.535 1.36232 102.897 4.02272e-07 104.549 4.7449e-07C106.201 5.46709e-07 107.564 1.36232 107.564 3.01449ZM99.5781 53.8261C99.5781 56.6957 101.839 58.9565 104.549 58.9565C107.259 58.9565 109.52 56.6957 109.52 53.8261C109.52 50.9565 107.259 48.6957 104.549 48.6957C101.839 48.6957 99.5781 50.9565 99.5781 53.8261Z" fill="black"/>
                  <path d="M125.955 68L125.955 27.5797C121.491 26.2319 118.259 22.087 118.259 17.0435C118.259 12.1159 121.477 7.89855 125.955 6.50725L125.955 3.01449C125.955 1.36232 127.317 3.95937e-07 128.969 4.68155e-07C130.621 5.40374e-07 131.984 1.36232 131.984 3.01449L131.984 6.4058C136.607 7.65218 139.969 11.8696 139.969 17.029C139.969 22.1884 136.607 26.4058 131.984 27.6522L131.984 67.8406C131.984 69.4928 130.621 71 128.969 71C127.317 71 125.955 69.6522 125.955 68ZM134.1 17.0435C134.1 14.1739 131.839 11.913 129.129 11.913C126.419 11.913 124.158 14.1739 124.158 17.0435C124.158 19.913 126.419 22.1739 129.129 22.1739C131.839 22.1594 134.1 19.8986 134.1 17.0435Z" fill="black"/>
                </g>
              </mask>
            </defs>
            <rect x="-20" y="0" width="244" height="141" />
          </svg>
        </div>
      <% end %>

      <div class="catch-phrase">play music the right way.</div>
      <div class="scroll-down hero-bottom-action">
        <p class="nostyle mb-0" onclick="smoothScroll(document.getElementById('second'))">
        <i class="fas fa-angle-double-down arrow bounce"></p></i>
      </div>
    </div>
  </div>
</div>

<div class="second-page p-5">
  <div class="hero-title d-flex flex-column">
      <div class="logo-second-page">
        <%= image_tag('usicz-logo.png', width: '100') %>
        <div class="medium-logo">i!iusicz</div>
      </div>
  </div>

  <div class="h1 d-flex justify-content-center" id="second"> centralize your music in a unique place </div>

  <div class="container cards mb-5">
    <div class="card">
      <p> 1_ </p>
      <p> create your<br>account </p>
    </div>
    <div class="card">
      <p> 2_ </p>
      <p> import your<br>songs </p>
    </div>
    <div class="card">
      <p> 3_ </p>
      <p> listen to your<br>music </p>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <button id="target" class="button-black"><a href="<%= songs_path %>">start</a></button>
  </div>
</div>

<script>
  window.smoothScroll = function(target) {
    var scrollContainer = target;
    do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = 0;
    do { //find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
    } while (target = target.offsetParent);

    scroll = function(c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function(){ scroll(c, a, b, i); }, 20);
    }
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
}
</script>
