<div class="hero-section">
  <p class="sign:hover d-flex justify-content-end mx-4 pt-3 hero-top-action">
    <% if current_user %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nostyle"%>
    <% else %>
      <%= link_to "sign in", new_user_session_path, method: :get, class: "nostyle"%>
    <% end %>
  </p>
​
  <div class="hero-title d-flex flex-column">
    <div class="opening-logo">
      <%= link_to songs_path, class: "logo-button-style" do %>
        <div>
          <div class="usicz-logo-box">
            <%= image_tag('usicz-logow.png', width: '140') %>
            <!-- <div class="rotated">click here <br> to start <i class="fas fa-arrow-right"></i></div>-->
          </div>
        </div>
        <div class="big-logo">i!iusicz</div>
      <% end %>
    </div>
    <div class="scroll-down hero-bottom-action">
      <p class="nostyle mb-0" onclick="smoothScroll(document.getElementById('second'))">learn more <i class="fas fa-angle-double-down arrow bounce"></p></i>
    </div>
​
  </div>
</div>
​
<div class="second-page p-5">
  <div class="hero-title d-flex flex-column">
      <div class="logo-second-page">
        <%= image_tag('usicz-logo.png', width: '100') %>
        <div class="medium-logo">i!iusicz</div>
      </div>
  </div>
​
  <div class="h1 d-flex justify-content-center" id="second"> centralize your music in a unique place </div>
​
  <div class="container cards mb-5">
    <div class="card">
      <p> 1_ </p>
      <p> create your<br>account </p>
    </div>
    <div class="card">
      <p> 2_ </p>
      <p> import your<br>songs </p>
    </div>
    <div class="card">
      <p> 3_ </p>
      <p> listen to your<br>music </p>
    </div>
​
  </div>
​
  <div class="d-flex justify-content-center">
    <button id="target" class="button-black"><a href="<%= songs_path %>">start</a></button>
  </div>
</div>

