<div class="hero-section">
  <p class="d-flex justify-content-end mx-3">
    <% if current_user %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nostyle"%>
    <% else %>
      <%= link_to "sign in", new_user_session_path, method: :get %>
    <% end %>
  </p>

  <div class="hero-title d-flex flex-column">
    <%= link_to songs_path, class: "logo-button-style" do %>
      <div>
        <%= image_tag('usicz-logo.png', width: '200') %>
      </div>
      <div class="big-logo">i!iusicz</div>
    <% end %>

    <div class="scroll-down mb-5">
      <a href="#target" class="nostyle">scroll down <i class="fas fa-angle-double-down"></a></i>
    </div>
  </div>
</div>

<div class="hero-title d-flex flex-column mt-5">
    <div>
    <%= image_tag('usicz-logo.png', width: '80') %>
    </div>
    <div class="medium-logo">i!iusicz</div>
</div>

<div class="h1 d-flex justify-content-center"> centralize your music in a unique place </div>

<div class="container cards">
    <div class="card">
      <p>
        1_
      </p>
      <p>
        create your account
      </p>
    </div>
    <div class="card">
      <p>
        2_
      </p>
      <p>
        import your songs
      </p>
    </div>
    <div class="card">
      <p>
        3_
      </p>
      <p>
        listen to your music
      </p>
  </div>

</div>

<div class="d-flex justify-content-center">
  <button id="target" class="button-black m-5"><a href="<%= songs_path %>">start</a></button>
</div>
