<div class="hero-title d-flex flex-column mt-5">
  <div>
    <%= link_to root_path, class: "logo-button-style" do  %>
      <%= image_tag('logob-thin.png', width: '80') %>
  </div>
    <div class="medium-logo">i!iusicz</div>
   <% end %>
</div>

<%= render 'shared/sidebar' %>



<div class="row justify-content-center m-5">
  <div class="col-6">
    <%= simple_form_for @playlist_import do |f| %>
      <%= f.input :platform_id, collection: Platform.pluck(:name, :id), prompt: 'Select music source'%>
      <%= f.input :playlist_url, placeholder: "Paste the url of a playlist here" %>
      <%= f.button :submit, 'Add songs', class: "button-rounded button-black loader-handled" %>
      <%= link_to 'cancel', songs_path, class: "button-rounded button-white-cancel" %>

    <% end %>

  </div>

</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loading-modal">
  Launch demo modal
</button>
 -->
