<div class="hero-title d-flex flex-column mt-5">
  <div>
    <%= link_to root_path, class: "logo-button-style" do  %>
      <%= image_tag('logob-thin.png', width: '80') %>
  </div>
    <div class="medium-logo">i!iusicz</div>
   <% end %>
</div>

<%= render 'shared/sidebar' %>


<div class="row justify-content-center m-5">
  <div class="col-6">

    <form class="simple_form new_playlist_import" id="new_playlist_import"
    novalidate="novalidate" action="/playlist_imports" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token"
      value="BSw0PxcGJ58UQInNSqTBTbEJzZMM2vVEDjFSg7gvf8VFPI3AZqYS5MQM9fCHmV15adl8cMAE71vD5qUURYVt1Q==">

      <fieldset class="form-group radio_buttons required playlist_import_platform_id">

        <legend class="col-form-label pt-0"><strong>Select music source</strong> <abbr title="required">*</abbr></legend>

        <input type="hidden" name="playlist_import[platform_id]" value="">

        <div class="d-flex justify-content-around">
          <div class="form-check">
            <input class="form-check-input radio_buttons required" type="radio" value="<%= Platform.second.id %>"
            name="playlist_import[platform_id]" id="playlist_import_platform_id_<%= Platform.second.id.to_s %>"> <!-- Check Platform.all on console -->
            <label class="form-check-label collection_radio_buttons" for="playlist_import_platform_id_<%= Platform.second.id.to_s %>">
              <%= image_tag "plat-dz-logob.png", class: "logo-deez-import", alt: "Deezer" %></label>
          </div>

          <div class="form-check">
            <input class="form-check-input radio_buttons required" type="radio" value="<%= Platform.third.id %>"
            name="playlist_import[platform_id]" id="playlist_import_platform_id_<%= Platform.third.id.to_s %>"> <!-- 16 -->
            <label class="form-check-label collection_radio_buttons" for="playlist_import_platform_id_<%= Platform.third.id.to_s %>">
              <%= image_tag "plat-sf-logob.png", class: "logo-spot-import", alt: "Spotify" %></label>
          </div>

          <div class="form-check">
            <input class="form-check-input radio_buttons required" type="radio" value="<%= Platform.first.id %>"
            name="playlist_import[platform_id]" id="playlist_import_platform_id_<%= Platform.first.id.to_s %>"> <!-- 14 -->
            <label class="form-check-label collection_radio_buttons" for="playlist_import_platform_id_<%= Platform.first.id.to_s %>">
            <%= image_tag "plat-yt-logob.png", class: "logo-yt-import", alt: "YouTube" %></label>
          </div>

          <div class="form-check">
            <input class="form-check-input radio_buttons required" type="radio" value="<%= Platform.fourth.id %>"
            name="playlist_import[platform_id]" id="playlist_import_platform_id_<%= Platform.fourth.id.to_s %>"> <!-- 17 -->
            <label class="form-check-label collection_radio_buttons" for="playlist_import_platform_id_<%= Platform.fourth.id.to_s %>">
              <%= image_tag "plat-sc-logob.png", class: "logo-sc-import", alt: "SoundCloud" %></label>
          </div>
        </div>

      </fieldset>
      <br>
      <div class="form-group url required playlist_import_playlist_url">
        <label class="url required" for="playlist_import_playlist_url"><strong>Playlist url</strong> <abbr title="required">*</abbr></label>
        <input class="form-control string url required"
        placeholder="Paste the url of a playlist here" type="url"
        name="playlist_import[playlist_url]" id="playlist_import_playlist_url">
      </div>

      <input type="submit" name="commit" value="Add songs"
      class="btn button-rounded button-black loader-handled" data-disable-with="Add songs">
      <a class="button-rounded button-white-cancel" href="/songs">cancel</a>

    </form>

    <%# simple_form_for @playlist_import do |f| %>
      <%# f.input :platform_id, collection: Platform.pluck(:name, :id), prompt: "Select music source" %>
      <%# f.input :platform_id, collection: Platform.pluck(:name, :id), as: :radio_buttons %>
      <%# f.input :playlist_url, placeholder: "Paste the url of a playlist here" %>
      <%# f.button :submit, 'Add songs', class: "button-rounded button-black loader-handled" %>
      <%# link_to 'cancel', songs_path, class: "button-rounded button-white-cancel" %>

    <%# end %>

  </div>

</div>

